
@{
    ViewBag.Title = "Perfiles";
}
<h2>Perfiles</h2>
<!-- Color del texto del modal -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Mostrar los registros de la base de datos en el accordion-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Botón del modal -->
<button  onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<div id="tablaPerfiles"></div>
<!-- Rellenar los registros de la base de datos en el accordión -->
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>REGISTRO DE PERFILES</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate action="action.php" method="post">
                        <fieldset>
                            <h2>Paso 1</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtPerfil">Perfil<span class="required">*</span></label>
                                        <input type="text" id="TxtPerfil" class="form-control limpiar obligatorio" placeholder="Perfil">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNivel">Nivel<span class="required">*</span></label>
                                        <input type="text" id="TxtNivel" class="form-control limpiar obligatorio" placeholder="Nivel">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtComentarios">Permisos<span class="required">*</span></label>
                                        <div id="divPagina"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtComentarios">Comentarios<span class="required">*</span></label>
                                        <textarea id="TxtComentarios" required="required" class="form-control limpiar obligatorio" name="TxtComentarios" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="Ingrese una descripción.." data-parsley-validation-threshold="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button id="btnGuardar" type="button" class="btn btn-success" onClick="GuardarPerfil()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_Perfiles.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>




<script>
    ////Función para regresar el formulario del modal al inicio al presionar el botón cancelar////
    (function () {
        var template = null
        $('.modal').on('show.bs.modal', function (event) {
            if (template == null) {//Valores nulos
                template = $(this).html()

            } else {
                $(this).html(template)
                //Recetear el formulario iniciando del paso 1
                $(document).ready(function () {
                    var current = 1, current_step, next_step, steps;
                    steps = $("fieldset").length;
                    $(".next").click(function () {
                        current_step = $(this).parent();
                        next_step = $(this).parent().next();
                        next_step.show();
                        current_step.hide();
                        setProgressBar(++current);
                    });
                    $(".previous").click(function () {
                        current_step = $(this).parent();
                        next_step = $(this).parent().prev();
                        next_step.show();
                        current_step.hide();
                        setProgressBar(--current);
                    });
                    setProgressBar(current);
                    // Cambiar la acción de la barra de progreso
                    function setProgressBar(curStep) {
                        var percent = parseFloat(100 / steps) * curStep;
                        percent = percent.toFixed();
                        $(".progress-bar")
                            .css("width", percent + "%")
                            .html(percent + "%");
                    }
                    //Termina Recetear el formulario
                });
            }

        })
    })()

    //Deshabilitar el clic externo para el modal del formulario.
    jQuery(document).ready(function () {
        jQuery('[data-toggle="modal"]').each(function () {
            jQuery(this).attr('data-backdrop', 'static');
            jQuery(this).attr('data-keyboard', 'false');
        });
    });

</script>


