
@{
    ViewBag.Title = "Perfiles";
}
<h2>Perfiles</h2>
<!-- Color del texto del modal -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Mostrar los registros de la base de datos en el accordion-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Botón del modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!-- Rellenar los registros de la base de datos en el accordión -->
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>REGISTRO DE PERFILES</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate action="action.php" method="post">
                        <fieldset>
                            <h2>Paso 1</h2>
                            <div class="form-group">
                                <label for="perfil">Perfil</label>
                                <input type="text" class="form-control" name="data[perfil]" id="perfil" placeholder="Perfil del usuario">
                            </div>
                            <div class="form-group">
                                <label for="nivel">Nivel</label>
                                <input type="text" class="form-control" name="data[nivel]" id="nivel" placeholder="Nivel">
                            </div>
                            <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2>Paso 2</h2>
                            <div class="form-group">
                                <label for="permisos">Permisos</label>
                                <input type="text" class="form-control" id="permisos" name="data[permisos]" placeholder="Permisos">
                            </div>
                            <div class="form-group">
                                <label for="Comentario">Comentario</label>
                                <textarea rows="4" class="form-control" placeholder="A few words about you ...">Agrege un comentario...</textarea>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" id="submit_data" />
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_Proveedores.js"></script> <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->