
@{
    ViewBag.Title = "Prueba";
}


<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="editarModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->
<div id="tabla" class="default "></div>
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>REGISTRO  MARCA</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h4>Paso 1</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre de la marca<span class="required">*</span></label>
                                        <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <button id="btnGuardar" type="button" class="btn btn-success " onclick=" GuardarMarca()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------->

<a href="#modal" title="Políticas de privacidad" class="btn"><img src="https://s.yimg.com/fz/api/res/1.2/jtuckMbC_tLGqKSNQcoTSQ--~C/YXBwaWQ9c3JjaGRkO2g9NzUyO3E9ODA7dz0xMjAw/http://www.peceswiki.com/Imagenes/caracteristicas-de-los-peces.jpg" style="width: 70px"><img></a>
<div id="modal">
    <a href="#cerrar"></a>
    <div id="modalContent">
        <a href="#cerrar">X</a>
        <h1 style="color: #f7be68; text-align:center;">Políticas de privacidad</h1>
        <p style="text-align:center;">Contenido</p>
    </div>
</div>


<style>
    .btn {
        position: relative;
        font-size: 1.2em;
        font-weight: 300;
        color: #fff;
        text-shadow: none;
        border-radius: 0px;
        background: #f7be68;
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
        text-decoration: none;
    }

        .btn:hover {
            background: #f5b14b;
            box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
            color: #fff;
        }

    #modalContent {
        position: absolute;
        top: 30%;
        left: 35%;
        z-index: 6;
        float: left;
        margin: -2% 0px 0px -150px;
        width: 700px;
        color: #888888;
        line-height: 22px;
        padding: 15px;
        border-radius: 5px;
        background: #ffffff;
        border: 1px solid #f7be68;
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
    }

    #modal {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5;
        float: left;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        display: none;
        opacity: 0;
    }

        #modal > a {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 1;
            float: left;
            width: 100%;
            height: 100%;
        }

    :target {
        display: block !important;
        opacity: 1 !important;
    }

    #modalContent > a {
        position: absolute;
        top: -4px;
        right: -4px;
        color: #fff;
        border-radius: 2px;
        background: #f7be68;
        padding: 10px;
        font-size: 30px;
        text-decoration: none;
    }
</style>

<!----------------------------------------------------------->

@*<style>
body {font-family: Arial, Helvetica, sans-serif;}
    .modal-header {
        padding: 2px 16px;
        background-color: #FFC300;
        color: white;
    }

.modal-body {padding: 2px 16px;}

    .modal-footer {
        padding: 2px 16px;
        background-color: #FFC300;
        color: white;
    }

</style>*@


    <!--Hacer que el modal muestre los pasos por parte-->
    <style type="text/css">
        #regiration_form fieldset:not(:first-of-type) {
            display: none;
        }
    </style>
    <!--Script-->
    <script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
    <!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
    <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
    <script src="~/Scrips/Internos/JS_Prueba.js"></script>
    <!--Validacion del formulario-->
    <script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
    <!--Scripts de la tarjeta y el botón-->
    <link href="~/Content/tarjeta.css" rel="stylesheet" />

