
@{
    ViewBag.Title = "Prueba";
}

<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Termina tarjeta-->
<!-- Botón del modal-->
<button  onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProveedor">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->
<!-------------------------------------------------Div Principal----------------------------------------------------------->
<div id="contenedor1"></div>
<!------------------------------------------------Modal------------------------------------------------------------------>

<!---->
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="ModalProveedor">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h5>Pedidos</h5>
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormularioCategorias()">
                        <!--Los pasos del modal-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbProveedor">Proveedor<span>*</span></label>
                                    <select id="cmbProveedor" style="width: 100%" class="form-control limpiarSelect"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCorreo">Correo<span class="required">*</span></label>
                                    <input id="TxtCorreo" name="data[TxtCorreo]" class="form-control  limpiar obligatorio" placeholder="Papeleria" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtRFC">RFC<span class="required">*</span></label>
                                    <input id="TxtRFC" name="data[TxtRFC]" class="form-control  limpiar obligatorio" placeholder="Papeleria" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTelefono">Télefono<span class="required">*</span></label>
                                    <input id="TxtTelefono" name="data[TxtTelefono]" class="form-control  limpiar obligatorio" placeholder="Papeleria" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtClabe">Clabe Interbancaria<span class="required">*</span></label>
                                    <input id="TxtClabe" name="data[TxtClabe]" class="form-control  limpiar obligatorio" placeholder="Papeleria" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TblArticulos">Artículo(s)<span class="required">*</span></label>
                                    <div id="TblArticulos">Artículos del proveedor</div> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button id="btnGuardar" type="button" class="btn btn-success " onclick=" GuardarCategoria()">Guardar</button>
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid {
        border-top: 4px solid #D7DBDD;
    }

    .D1 {
        background-color: #EBEBEB;
    }
</style>


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 1px solid #f1f507;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid4 {
        border-top: 1px solid #0B94F8;
    }
</style>

<!---------------------------------------------------------------------------------------------------->
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Prueba.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!----------------Exportar-------------------------->
