
@{
    ViewBag.Title = "Bonificaciones";
}

<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="tabla" class="default "></div>
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>REGISTRO DE ALMACEN GENERAL</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                        <fieldset>
                            <h2>PASO 1</h2>
                            <div class="form-group">
                                <label for="TxtNombre">INGRESE EL NOMBRE DEL ARTÍCULO</label>
                                <input type="text" class="form-control" name="data[TxtNombre]" id="TxtNombre" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="TxtCantidad">INGRESE LA CANTIDAD</label>
                                <input type="text" class="form-control" name="data[TxtCantidad]" id="TxtCantidad" placeholder="Cantidad">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                            </div>

                            <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> PASO 2</h2>
                            <div class="form-group">
                                <label for="TxtNombreP">INGRESE EL NOMBRE DE EL PROVEEDOR</label>
                                <input type="text" class="form-control" name="data[TxtNombreP]" id="TxtNombreP" placeholder="Nombre Proveedor">
                            </div>
                            <div class="form-group">
                                <label for="TxtMarca">INGRESE LA MARCA DEL ARTÍCULO</label>
                                <input type="text" class="form-control" name="data[TxtMarca]" id="TxtMarca" placeholder="Marca">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <button type="button" class="btn btn-success" onclick="GuardarAlmacen()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_ExistenciasAlmacen.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
