
@{
    ViewBag.Title = "Bonificaciones";
}

<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="tabla" class="default "></div>
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>REGISTRO DE BONIFICACIONES</h4>
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                        <!-----formulario-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombre">Ingrese el nombre del artículo<span class="required">*</span></label>
                                    <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCantidad">INGRESE LA CANTIDAD<span class="required">*</span></label>
                                    <input id="TxtCantidad" name="data[TxtCantidad]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbUnidadM">Unidad de Medida<span class="required">*</span></label>
                                    <select id="cmbUnidadM" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombreP">INGRESE EL NOMBRE DE EL PROVEEDOR<span class="required">*</span></label>
                                    <input id="TxtNombreP" name="data[TxtNombreP]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtMarca">INGRESE LA MARCA DEL ARTÍCULO<span class="required">*</span></label>
                                    <input id="TxtMarca" name="data[TxtMarca]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbCompra">Seleccione la compra<span class="required">*</span></label>
                                    <select id="cmbCompra" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" onclick="GuardarBonificacion()">Guardar</button>
                    </form>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <button id="btnCancelar"   class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------------------->

<!----------------------------------------------------------->
<div id="container"></div>
<!----------------------------------------DISTRIBUIR LOS TITULOS DE LOS DIVS -------------------------------------------->
<style>
    #contenedor {
        width: 300px;
        height: auto;
        text-align: center;
    }

    #contenedor_follow div.icono {
        display: inline-block;
        width: 15%;
        height: auto;
        vertical-align: middle;
        text-align: center;
    }
</style>
<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid {
        border-top: 3px solid #D7DBDD;
    }
</style>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid2 {
        border-top: 3px solid #00b0e6;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 3px solid #f1f507;
    }
</style>

<!------------------------------------------>
<!--<div class="titulo_boton">
    <a style='cursor: pointer;' onClick="muestra_oculta('contenido')" title="" class="boton_mostrar">Desplegar</a>
</div>

<div id="contenido">
    <div id="contenedor2"></div> <div id="contenedor3"></div>
</div>

<style>
    .titulo_boton {
        float: left;
        padding: 5px;
        background-color: #097FF5;
        width: 80px;
        font-family: helvetica;
        font-size: 16px;
        font-weight: bold;
    }

    .boton_mostrar {
        float: right;
        font-size: 12px;
        line-height: 20px;
        color: #DE7217;
    }

    #contenido {
        float: left;
        clear: both;
        border: 2px solid #e6e6e6;
        margin-top: 2px;
        padding: 5px;
        width: 1000px;
        overflow: auto;
        font-family: helvetica;
        font-size: 14px;
        text-align: justify;
    }
</style>
<script>

    function muestra_oculta(id) {
        if (document.getElementById) { //se obtiene el id
            var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
            el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
        }
    }
    window.onload = function () {/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
        muestra_oculta('contenido');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
    }
</script>-->
<!---------------------------------------------------------->
<!--<div class="flexbox">

</div>

<style>
    .flexbox {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        width: 200px;
    }
</style>-->
<!------------------------------------------------------------------------------------------------------------>
@*<button class='btn btn-outline-primary' data-toggle="collapse" data-target="#demo">Collapsible</button>

<div id="demo" class="collapse">
    <div id="contenedor2"></div>
</div>*@

<!------------------------------------------------------------------------------------------------------------>

<button class='btn btn-outline-primary' style="cursor:s-resize" onClick="Alternar(seccion1)">
    Desplegar
</button>
<div id="seccion1" style="display:none">
    <div id="contenedor2"></div>
    <div id="contenedor3"></div>
</div>

<script>
    function Alternar(Seccion) {
        if (Seccion.style.display == "none") { Seccion.style.display = "" }
        else { Seccion.style.display = "none" }
    }
</script>

<!------------------------------------------------------------------------------------------------------------>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Articulo_Vista.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
<script src="~/Scrips/Plus/scripts.js"></script>
