


@{
    ViewBag.Title = "Proveedores";
}

<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<h2>Proveedores</h2>
<!--  -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>


<!--Mostrar los registros en el accordion-->
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <!-- crearemos un DIV con la clase “progress” que será el artífice para la animación del paso a paso.-->
                <div class="modal-body">
                    <h1>REGISTRO DE PROVEEDORES</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormularioProveedor()">
                        <fieldset>
                            <!--Los pasos del modal-->
                            <h2>Paso 1</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre del proveedor<span class="required">*</span></label>
                                        <input id="TxtNombre" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Txtcorreo">Email address<span class="required">*</span></label>
                                        <input type="email" id="Txtcorreo" class="form-control  limpiar obligatorio" placeholder="name@example.com">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRazonSocial">Razón Social<span class="required">*</span></label>
                                        <input type="text" id="TxtRazonSocial" class="form-control  limpiar obligatorio" placeholder="Razón Social">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtClaveInterbancaria">Clave Interbancaria<span class="required">*</span></label>
                                        <input type="text" id="TxtClaveInterbancaria" class="form-control  limpiar obligatorio" placeholder="Clave Interbancaria">
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCodigoPostal">Código Postal<span class="required">*</span></label>
                                        <input type="text" id="TxtCodigoPostal" class="form-control limpiar obligatorio" placeholder="Código Postal">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />

                        </fieldset>
                        <fieldset>
                            <h2> Paso 2</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                        <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMunicipio">Municipio<span class="required">*</span></label>
                                        <select id="cmbMunicipio" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbLocalidad">Localidad<span class="required">*</span></label>
                                        <select id="cmbLocalidad" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDireccion">Dirección<span class="required">*</span></label>
                                        <input type="text" id="TxtDireccion" class="form-control limpiar obligatorio" placeholder="Dirección">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atras" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 3</h2>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRFC">RFC del Emisor<span class="required">*</span></label>
                                        <input type="text" id="TxtRFC" class="form-control limpiar obligatorio" placeholder="RFC">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtTelefono">Teléfono<span class="required">*</span></label>
                                        <input type="tel" id="TxtTelefono" class="form-control limpiar obligatorio" placeholder="Teléfono">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtBanco">Nombre del Banco<span class="required">*</span></label>
                                        <input type="text" id="TxtBanco" class="form-control limpiar obligatorio" placeholder="Banco">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNumeroDeCuenta">Número de Cuenta<span class="required">*</span></label>
                                        <input type="text" id="TxtNumeroDeCuenta" class="form-control limpiar obligatorio" placeholder="Número de Cuenta">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtUsoCFDI">UsoCFDI<span class="required">*</span></label>
                                        <input type="text" id="TxtUsoCFDI" class="form-control limpiar obligatorio" placeholder="UsoCFDI">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNomenclatura">Nomenclatura<span class="required">*</span></label>
                                        <input type="text" id="TxtNomenclatura" class="form-control limpiar obligatorio" placeholder="Nomenclatura">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 4</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDescripcion">Descripción<span class="required">*</span></label>
                                        <textarea id="TxtDescripcion" required="required" class="form-control limpiar obligatorio" name="TxtDescripcion" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="Ingrese una descripción.." data-parsley-validation-threshold="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Agregar la imagen -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="PBFoto">Seleccione el logo</label>
                                        <img id="PBFoto" src="~/Assets/Imagenes/logo.jpg" width="200" height="200" alt="" />

                                        <input id="BtnFoto" type="file" class="form-control form-control-sm limpiar" value="SUBIR" />
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />

                            <button id="btnGuardar" type="submit" value="Submit" class="btn btn-success" onclick="GuardarProveedor()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <!--  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <!-- <button id="btnGuardar" type="submit" value="Submit" class="btn btn-success">Guardar</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion,Navegación del formulario de paso siguiente y anterior mediante jQuery.-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_Proveedores.js"></script> <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<!--Validacion del formulario-->
<script src="~/Scrips/General/validator.js"></script>
<script src="~/Scrips/General/JS_Validaciones.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<script src="~/Scrips/Plus/scripts.js"></script>