@using Inventario.Models;
@{
    ViewBag.Title = "Proveedores3ra";
}
<h2 class="form-control-label" style="font-size: 20px;">
    NOMBRE DE LOS PROVEEDORES
</h2>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
@*<link rel="stylesheet" href="estilos.css">*@
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Termina tarjeta-->
<!--Mostrar los registros en el accordion-->
<div id="accordion"></div>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Proveedores3ra.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/Scrips/General/JS_Botones.js"></script>

