
@{
    ViewBag.Title = "Proveedores";
}
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<h2>Proveedores</h2>
<!--  -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>REGISTRO DE PROVEEDORES</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset><!--Los pasos del modal-->
                            <h2>Paso 1</h2>
                            <div class="form-group">
                                <label for="nombreProveedor">Nombre del proveedor</label>
                                <input type="text" class="form-control  limpiar obligatorio" name="data[nombreProveedor]" id="nombreProveedor" placeholder="Nombre del proveedor">
                            </div>
                            <div class="form-group">
                                <label for="correoProveedor">E-mail</label>
                                <input type="email" class="form-control limpiar obligatorio" id="correoProveerdor" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                                <label for="giroProveedor">Giro del proveedor</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[giroProveedor Proveedor]" id="giroProveedor" placeholder="Giro del proveedor">
                            </div>
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 2</h2>
                            <div class="form-group">
                                <label for="cuentaInterbancaria">Cuenta Interbancaria</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[cuentaInterbancria Proveedor]" id="cuentaInterbancaria" placeholder="Cuenta Interbancaria">
                            </div>
                            <div class="form-group">
                                <label for="codigoPostal">Código Postal</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[codigoPostal Proveedor]" id="codigoPostal" placeholder="Código Postal">
                            </div>

                            <div class="form-group">
                                <span class="help-block text-muted small-font">Estado</span>
                                <select id="cmbEstado" style="width: 100%" class="form-control limpiar obligatorio"></select>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atras" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 3</h2>

                            <div class="form-group">
                                <span class="help-block text-muted small-font">Municipio</span>
                                <BR />
                                <select id="cmbMunicipio" style="width: 100%" class="form-control limpiar obligatorio"></select>
                            </div>
                            <div class="form-group">
                                <span class="help-block text-muted small-font">Localidad</span>
                                <BR />
                                <select id="cmbLocalidad" style="width: 100%" class="form-control limpiar obligatorio"></select>
                            </div>

                            <div class="form-group">
                                <label for="RFCemisor">RFC</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[RFCemisor Proveedor]" id="RFCemisor" placeholder="RFC del Emisor">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 4</h2>
                            <div class="form-group">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[direccion Proveedor]" id="direccion" placeholder="Dirección">
                            </div>
                            <div class="form-group">
                                <label for="telefono"> Teléfono</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[direccion Proveedor]" id="direccion" placeholder="Teléfono">
                            </div>
                            <div class="form-group">
                                <label for="banco"> Banco</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[banco Proveedor]" id="banco" placeholder="Banco">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 5</h2>
                            <div class="form-group">
                                <label for="numeroCuenta">Número de Cuenta</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[numeroCuenta Proveedor]" id="numeroCuenta" placeholder="Número de Cuenta">
                            </div>
                            <div class="form-group">
                                <label for="usoCFDI">UsoCFDI</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[usoCFDI Proveedor]" id="usoCFDI" placeholder="UsoCFDI">
                            </div>
                            <div class="form-group">
                                <label for="nomenclatura"> Nomenclatura</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[nomenclatura Proveedor]" id="nomenclatura" placeholder="Nomenclatura">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2> Paso 6</h2>
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control limpiar obligatorio" name="data[descripcion]" id="descripcion" placeholder="Descripción">
                            </div>
                            <div class="form-group">
                                <label for="carpeta">Logo</label>
                                <input type="file" name="imagefile" accept="image/jpeg, image/png">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <!--<input type="button" name="previous" class="previous btn btn-default" value="Previo" />-->
                            <!--  <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" onclick="GuardarProveedor()" id="submit_data" />-->
                            <!--<button class='btn btn-danger' onclick='GuardarProveedor(" + RegistrosProveedores[i].Id + ",this)'><i class='fas fa-eraser'></i></button>";-->
                            <button id="btnGuardar" type="button" class="btn btn-success" onclick="GuardarProveedor()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_Proveedores.js"></script> <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->