@using Inventario.Models;
@{
    ViewBag.Title = "Proveedores";
}
<h2 class="form-control-label" style="font-size: 20px;">
    PROVEEDORES
</h2>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->
<div id="tablaUsuarios"></div>
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            REGISTRO DE PROVEEDORES
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h4>Paso 1</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre<span class="required">*</span></label>
                                        <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre del proveedor" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                        <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                            <option value="0">--Seleccione--</option>
                                            @{
                                                if (Estados.idEstado != null)
                                                {
                                                    for (int i = 0; i < Estados.idEstado.Count(); i++)
                                                    {
                                                        <option value="@Estados.idEstado[i]">@Estados.nombre[i]</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMunicipio">Municipio<span class="required">*</span></label>
                                        <select id="cmbMunicipio" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbLocalidad">Localidad<span class="required">*</span></label>
                                        <select id="cmbLocalidad" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDireccion">Dirección</label>
                                        <input id="TxtDireccion" name="data[TxtDireccion]" class="form-control  limpiar obligatorio" placeholder="Calle y No." type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Txtcorreo">Correo<span class="required">*</span></label>
                                        <input id="Txtcorreo" name="data[Txtcorreo]" class="form-control  limpiar obligatorio" placeholder="nombreusuario@servidor.com" size="15" maxlength="20" type="email">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next btn btn-primary" value="Siguiente" />
                        </fieldset>

                        <fieldset>
                            <h4>Paso 2</h4>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCodigoPostal">Código Postal<span class="required">*</span></label>
                                        <input id="TxtCodigoPostal" name="data[TxtCodigoPostal]" class="form-control  limpiar obligatorio" placeholder="88888" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtTelefono">Teléfono</label>
                                        <input id="TxtTelefono" name="data[TxtTelefono]" class="form-control  limpiar obligatorio" placeholder="953-888-8888" type="tel">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRazonSocial">Razón Social<span class="required">*</span></label>
                                        <input id="TxtRazonSocial" name="data[TxtRazonSocial]" class="form-control  limpiar obligatorio" placeholder="Comercializadora Picaros de la Mixteca S.A de C.v" size="5" maxlength="150" type="text">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtBanco">Banco</label>
                                        <input id="TxtBanco" name="data[TxtBanco]" class="form-control  limpiar obligatorio" placeholder="Banamex" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtClaveInterbancaria">Clave Interbancaria<span class="required">*</span></label>
                                        <input id="TxtClaveInterbancaria" name="data[TxtClaveInterbancaria]" class="form-control  limpiar obligatorio" placeholder="888888888888888888" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNumeroDeCuenta">Número de Cuenta<span class="required">*</span></label>
                                        <input type="text" class="form-control limpiar obligatorio" id="TxtNumeroDeCuenta" name="data[TxtNumeroDeCuenta]" placeholder="88888888888888888888">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtUsoCFDI">UsoCFDI<span class="required">*</span></label>
                                        <input id="TxtUsoCFDI" name="data[TxtUsoCFDI]" class="form-control  limpiar obligatorio" placeholder="888" size="15" maxlength="20" type="text">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRFC">RFC</label>
                                        <input id="TxtRFC" name="data[TxtRFC]" class="form-control  limpiar obligatorio" placeholder="Registro Federal del Contribuyente" type="text">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-primary" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-primary" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h4>Paso 3</h4>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDescripcion">Descripción<span class="required">*</span></label>

                                        <textarea type="text" id="TxtDescripcion" class="form-control limpiar obligatorio" rows="3" wrap="soft" placeholder="Agrega una descripción del proveedor..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="PBFoto">Seleccione el logo</label>
                                        <img id="PBFoto" src="~/Assets/Imagenes/logo.png" width="150" height="150" alt="" />                                        <br />
                                        <input id="BtnFoto" type="file" class="form-control form-control-sm limpiar" value="SUBIR" />
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-primary" value="Atrás" />
                            <button id="btnGuardar" type="button" class="btn btn-primary " onclick=" GuardarProveedor()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table>
</table>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Proveedores.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/Scrips/General/JS_Botones.js"></script>