<!--@using Inventario.Models;
@{
    ViewBag.Title = "Usr";
}

<h2>Usr</h2>


<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!-- Inicia tarjeta-->
<!-- Estilos -->
<!--<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->

<!--Termina tarjeta-->
<!-- Botón del modal-->
<!--<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>-->
<!--Mostrar los registros en el accordion-->

<!--<div id="tabla" class="default "></div>
<div id="accordion"></div>-->
<!-- Encabezado del Modal -->
<!--<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>-->
                <!-- Contenido del modal -->
                <!-- Contenido del modal -->
                <!--<div class="modal-body">
                    <h1>REGISTRO DE USUARIOS</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h4>Paso 1</h4>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCURP">ID<span class="required">*</span></label>
                                        <input id="TxtCURP" name="data[TxtCURP]" class="form-control  limpiar obligatorio" placeholder="CURP" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCURP">Clave Única de Registro de Población<span class="required">*</span></label>
                                        <input id="TxtCURP" name="data[TxtCURP]" class="form-control  limpiar obligatorio" placeholder="CURP" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre<span class="required">*</span></label>
                                        <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtApellidoP">Apelido Paterno<span class="required">*</span></label>
                                        <input id="TxtApellidoP" name="data[TxtApellidoP]" class="form-control  limpiar obligatorio" placeholder="Apellido paterno" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtApellidoM">Apelido Materno<span class="required">*</span></label>
                                        <input id="TxtApellidoM" name="data[TxtApellidoM]" class="form-control  limpiar obligatorio" placeholder="Apelido Materno" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtFechaN">Fecha de nacimiento<span class="required">*</span></label>
                                        <input type="date" class="form-control" name="data[TxtFechaN]" id="TxtFechaN" placeholder="Fecha de nacimiento">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRFC">RFC</label>
                                        <input id="TxtRFC" name="data[TxtRFC]" class="form-control  limpiar" placeholder="RFC" type="text">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>

                        <fieldset>
                            <h4>Paso 2</h4>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                        <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                            <option value="0">--Seleccione--</option>
                                            @{
                            if (Estados.idEstado != null)
                            {
                                for (int i = 0; i < Estados.idEstado.Count(); i++)
                                {
                                    <option value="@Estados.idEstado[i]">@Estados.nombre[i]</option>
                                }
                            }
                        }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMunicipio">Municipio<span class="required">*</span></label>
                                        <select id="cmbMunicipio" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbLocalidad">Localidad<span class="required">*</span></label>
                                        <select id="cmbLocalidad" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCorreo">Correo electrónico<span class="required">*</span></label>
                                        <input type="text" id="TxtCorreo" class="form-control limpiar obligatorio" placeholder="Correo electrónico">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>


                        <fieldset>
                            <h4>Paso 3</h4>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNSS">Número de Seguro Social<span class="required">*</span></label>
                                        <input id="TxtNSS" name="data[TxtNSS]" class="form-control  limpiar obligatorio" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Txtelefono">Número de teléfono<span class="required">*</span></label>
                                        <input id="Txtelefono" name="data[Txtelefono]" class="form-control  limpiar obligatorio"  maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbArea">Área<span class="required">*</span></label>
                                        <select id="cmbArea" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbSubArea">SubÁrea<span class="required">*</span></label>
                                        <select id="cmbSubArea" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbPerfil">Perfil<span class="required">*</span></label>
                                        <select id="cmbPerfil" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>

                        <fieldset>

                            <h4>Paso 4</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtUsuario">Usuario</label>
                                        <input id="TxtUsuario" name="data[TxtUsuario]" class="form-control  limpiar" placeholder="Usuario"  maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="PBFoto">Seleccione una foto</label>
                                        <img id="PBFoto" src="~/Assets/Imagenes/logo.png" width="150" height="150" alt="" />                                        <br />
                                        <input id="BtnFoto" type="file" class="form-control form-control-sm limpiar" value="SUBIR" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Txtpassword">Contraseña<span class="required">*</span></label>
                                        <input type="password" class="form-control" id="Txtpassword" name="data[Txtemail]" placeholder="Contraseña"  maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtConfirmacion">Confirme su contraseña<span class="required">*</span></label>
                                        <input type="password" class="form-control" id="TxtConfirmacion" name="data[TxtConfirmacion]" placeholder="Contraseña"  maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <button id="btnGuardar" type="button" class="btn btn-success " onclick=" GuardarUsuario()">Guardar</button>
                        </fieldset>

                    </form>
                </div>-->
                <!-- pie del modal-->
                <!--<div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!--Hacer que el modal muestre los pasos por parte-->
<!--<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>-->
<!--Script-->
<!--<script src="~/Scrips/jquery.min.js"></script>-->  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<!--<script src="~/Scrips/Internos/Usr.js"></script>
<script src="~/Scrips/js.cookie.js"></script>--> <!--Recorrer los pasos del modal-->
<!--<link href="~/Content/tarjeta.css" rel="stylesheet" />--><!--Estlos aplicados a la tarjetam de inicio-->
<!--<script src="~/Scrips/Plus/scripts.js"></script>-->