@{
    ViewBag.Title = "Pedidosext";
}
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<!------------------------------------------------Script para buscar datos en la tabla--------------------------------------------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script type="text/javascript">
    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>
<!-------------------------------------------Id de la tabla para crearse desde la funcón script---------------------------------->
<div id="TablaPedidos"></div>
<!-----------------------------------------------------------Termina----------------------------------------------------->
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="ModalPedidos">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">PEDIDOS</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="seleccion">
                                    <div align="left"><img src="~/Assets/Imagenes/Plus.jpg" style="width: 13em;"></div>
                                    <br />
                                    <br />
                                    <div style="width: 100%">
                                        <div {NM_CSS_FUN_CAB} style="height:11px; display: inline; border-width:0px; "></div>
                                        <div style="height:37px; background-color:#FFFFFF; border-width:0px 0px 1px 0px;  border-style: dashed; border-color:#ddd; display: inline">
                                            <table style="width:100%; border-collapse:collapse; padding:0;">
                                                <tbody>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Comercializadora Picaros de la Mixteca S.A. de C.V.</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Av. Zafiro No.1 Int. A, Col. Agua Dulce</label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Tel. 953 530 0087</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Huajuapan de León, Oaxaca. C.P. 69005.</label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Fecha:</label><label id="TxtFecha"></label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <!--------------------------------------Encabezado de el dodumento--------------------------------------->
                                    <br />
                                    <div style="width: 100%">
                                        <div {NM_CSS_FUN_CAB} style="height:11px; display: inline; border-width:0px; "></div>
                                        <div style="height:37px; background-color:#FFFFFF; border-width:0px 0px 1px 0px;  border-style: dashed; border-color:#ddd; display: inline">
                                            <table style="width:100%; border-collapse:collapse; padding:0;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Proveedor</th>
                                                        <th scope="col">Enviar a</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Compañía: </label><label></label><label id="TxtProveedor"></label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Compañía: Comercializadora Picaros de la Mixteca S.A. de C.V.</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Contacto :</label><label id="TxtTelefono"></label><br /><label>Correo:</label><label id="TxtCorreo"></label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Departametno: Almacén General</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Dirección: </label><label></label> <label id="TxtDireccion"></label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Dirección: Av. Zafiro No.1 Int. A, Col. Agua Dulce</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div align="center">
                                                    <label class="form-control-label" for="TblArticulos">Artículo(s) a solicitar</label>
                                                </div>
                                                <div id="TblArticulos">Artículo(s) de el pedido</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <a type="button" class="btn btn-info" href="javascript:imprSelec('seleccion')">Imprimir</a>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------------------------------------------->
<!--------------------------Función para imprimir el contenido del div------------------------------------------>
<script language="Javascript">
    function imprSelec(nombre) {
        var ficha = document.getElementById(nombre);
        var ventimp = window.open(' ', 'popimpr');
        ventimp.document.write(ficha.innerHTML);
        ventimp.document.close();
        ventimp.print();
        ventimp.close();

    }
</script>

<!------------------------------------------------------------------------------------------------------------------------->

<!--<script>
    function printDiv() {
        var objeto = document.getElementById('imprimir');

        //obtenemos el objeto a imprimir
        var ventana = window.open('', '_blank');  //abrimos una ventana vacía nueva
        ventana.document.write(objeto.innerHTML);  //imprimimos el HTML del objeto en la nueva ventana
        ventana.document.close();  //cerramos el documento
        ventana.print();  //imprimimos la ventana
        ventana.close();  //cerramos la ventana
    }
</script>

<style>
    .imprimir {
        background: white;
        margin-right: 200px;
        margin-left: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        max-width: 1000px;
    }

        .imprimir table {
            max-width: 960px;
        }
</style>

<div class="imprimir" id="imprimir">-->
    <!-- Compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" media="print">

<div class="titulo">HOJA DE SERVICIOS INFORMATICOS</div>
<table>
    <tr>
        <th>
            <font style=" text-decoration: underline;">DATOS DEL USUARIO</font><br>
            <strong>Usuario: </strong><br>
            <strong>Nombre del Responsable: </strong><br>
            <strong>Proveedor del Servicio: </strong><br>
            <strong>Área Solicitante: </strong><br>
        </th>
        <th>
            <font style=" text-decoration: underline;">DATOS DEL REPORTE</font><br>
            <strong>Número de Orden: </strong><br>
            <strong>Fecha de Registro: </strong><br>
            <strong>Hora de Registro: </strong><br>
            <strong>Reportó: </strong><br>
        </th>
    </tr>
    <tr>
        <th>

            <font style=" text-decoration: underline;">CARACTERÍSTICAS DEL EQUIPO</font><br>
            <strong>Marca: </strong>
            <strong>Modelo: </strong><br>
            <strong>Número de Serie: </strong>
            <strong>Inventario: </strong><br>
        </th>
        <th>
            <font style=" text-decoration: underline;">DESCRIPCIÓN DE LA FALLA O PROBLEMA</font><br>
            <strong>Descripción detallada del problema: </strong> <br>
    </tr>
    <tr>
        <th>
            <font style=" text-decoration: underline;">STATUS GENERAL</font><br>
            <strong>Estado del Reporte: </strong><br>
            <strong>¿El problema tuvo solución?: </strong>
            <font style="text-transform: uppercase;"></font><br>
            <strong>Fecha de Finalización: </strong><br>
            <strong>Hora de Finalización: </strong><br>
        </th>
        <th>
            <font style=" text-decoration: underline;">ACTIVIDADES</font><br>
            <strong>Actividad realizada: </strong><br><br>
            <strong>Nombre del Prestador de Servicio: </strong><br>
        </th>
    </tr>
    <tr>
        <th>
            <font style=" text-decoration: underline;">EVALUACIÓN DEL SERVICIO</font><br>
            <strong>La Calidad del Servicio Otorgado por el Departamento de Soporte Técnico fue: </strong>
            <br>
            <strong>El Nivel de Atención Otorgado por el Departamento de Soporte Técnico fue: </strong>
            <br>
            <strong>El Nivel Profesional para que el Departamento de Soporte Técnico solucionará el problema fue: </strong>
            <br>
            <strong>El Tiempo de Respuesta en que el Departamento de Soporte Técnico lo atendió fue: </strong>
            <br>
            <strong>Evaluación General del Reporte: </strong>

        </th>
    </tr>

</table>
<div class="firma">
    ________________________________________<br>FIRMA DE CONFORMIDAD DEL USUARIO
</div>
</div>

<button onclick="printDiv()">Imrpimir</button>-->


<!--------------------------------------------------------------------------------------------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 1px solid #030303;
        width: 50%;
    }
</style>
<!----------------------------------- Estilo para el title del botón de ver pedido------------------------------------------------------>

<style>

    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }

    [data-title]:after {
        content: attr(data-title);
        background-color: #FFC300;
        color: #fff;
        font-size: 14px;
        font-family: Raleway;
        position: absolute;
        padding: 3px 20px;
        bottom: -1.6em;
        left: 100%;
        white-space: nowrap;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }

    [data-title] {
        position: relative;
    }
</style>
<!------------------------------------------------------------------------------------------------------------------------->
<!--Hacer que el modal muestre los pasos por parte-- >
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<script src="~/Scrips/Internos/JS_PedidosExt.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
