@using Inventario.Models;
@{
    ViewBag.Title = "Usuario";
}

<h2>Usuario</h2>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>REGISTRO DE USUARIOS</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h4>Paso 1</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCURP">Clave Única de Registro de Población<span class="required">*</span></label>
                                        <input id="TxtCURP" name="data[TxtCURP]" class="form-control  limpiar obligatorio" placeholder="CURP" size="15" maxlength="20" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre<span class="required">*</span></label>
                                        <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtApellidoP">Apelido Paterno<span class="required">*</span></label>
                                        <input id="TxtApellidoP" name="data[TxtApellidoP]" class="form-control  limpiar obligatorio" placeholder="Apellido paterno" size="15" maxlength="20" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtApellidoM">Apelido Materno<span class="required">*</span></label>
                                        <input id="TxtApellidoM" name="data[TxtApellidoM]" class="form-control  limpiar obligatorio" placeholder="Apelido Materno" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtFechaN">Fecha de nacimiento<span class="required">*</span></label>
                                        <input type="date" class="form-control limpiar obligatorio" name="data[TxtFechaN]" id="TxtFechaN" placeholder="Fecha de nacimiento">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtRFC">RFC</label>
                                        <input id="TxtRFC" name="data[TxtRFC]" class="form-control  limpiar obligatorio" placeholder="RFC" type="text">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>

                        <fieldset>
                            <h4>Paso 2</h4>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                        <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                            <option value="0">--Seleccione--</option>
                                            @{
                                                if (Estados.idEstado != null)
                                                {
                                                    for (int i = 0; i < Estados.idEstado.Count(); i++)
                                                    {
                                                        <option value="@Estados.idEstado[i]">@Estados.nombre[i]</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMunicipio">Municipio<span class="required">*</span></label>
                                        <select id="cmbMunicipio" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbLocalidad">Localidad<span class="required">*</span></label>
                                        <select id="cmbLocalidad" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCorreo">Correo electrónico<span class="required">*</span></label>
                                        <input type="email" class="form-control limpiar obligatorio" id="TxtCorreo" name="data[Txtemail]" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>


                        <fieldset>
                            <h4>Paso 3</h4>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNSS">Número de Seguro Social<span class="required">*</span></label>
                                        <input id="TxtNSS" name="data[TxtNSS]" class="form-control  limpiar obligatorio" placeholder="NSS" size="15" maxlength="20" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtTelefono">Número de teléfono<span class="required">*</span></label>
                                        <input id="TxtTelefono" name="data[TxtTelefono]" class="form-control  limpiar obligatorio" placeholder="Número de teléfono" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbArea">Área<span class="required">*</span></label>
                                        <select id="cmbArea" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbSubArea">SubÁrea<span class="required">*</span></label>
                                        <select id="cmbSubArea" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbPerfil">Perfil<span class="required">*</span></label>
                                        <select id="cmbPerfil" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>

                        <fieldset>

                            <h4>Paso 4</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtUsuario">Usuario</label>
                                        <input id="TxtUsuario" name="data[TxtUsuario]" class="form-control limpiar obligatorio" placeholder="Usuario" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="PBFoto">Seleccione una foto</label>
                                        <img id="PBFoto" src="~/Assets/Imagenes/logo.png" width="150" height="150" alt="" />                                        <br />
                                        <input id="BtnFoto" type="file" class="form-control form-control-sm limpiar" value="SUBIR" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="Txtpassword">Contraseña<span class="required">*</span></label>
                                        <input type="password" class="form-control limpiar obligatorio" id="Txtpassword" name="data[Txtpassword]" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtConfirmacion">Confirme su contraseña<span class="required">*</span></label>
                                        <input type="password" class="form-control limpiar obligatorio" id="TxtConfirmacion" name="data[TxtConfirmacion]" placeholder="Contraseña">
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <button id="btnGuardar" type="button" class="btn btn-success " onclick=" GuardarUsuario()">Guardar</button>
                        </fieldset>

                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table>
</table>

<!------------------------------------------------------------Modal Bloqueado--------------------------------------------------------------------------->
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="ModalBloqueado">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h1>Información General</h1>
                    <form id="regiration_form" novalidate method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="PBFotoBloqueado">Imagen</label>
                                    <img id="PBFotoBloqueado" src="~/Assets/Imagenes/logo.png" width="155" height="155" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCurpBloqueado">Clave Única de Registro de Población:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtCurpBloqueado]" id="TxtCurpBloqueado" class="form-control   bloquear" placeholder="CURP">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombreBloqueado">Nombre:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtNombreBloqueado]" id="TxtNombreBloqueado" class="form-control  limpiar bloquear" placeholder="Nombre">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtApellidoPaternoBloqueado">Apellido Paterno:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtApellidoPaternoBloqueado]" id="TxtApellidoPaternoBloqueado" class="form-control  limpiar bloquear" placeholder="Apellido Paterno">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtApellidoMaternoBloqueado">Apellido materno:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtApellidoMaternoBloqueado]" id="TxtApellidoMaternoBloqueado" class="form-control  limpiar bloquear" placeholder="Apellido materna">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaNBloqueado">Fecha de nacimiento:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtFechaNBloqueado]" id="TxtFechaNBloqueado" class="form-control  limpiar bloquear" placeholder="Fecha de nacimiento">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtRFCBloqueado">RFC:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtRFCBloqueado]" id="TxtRFCBloqueado" class="form-control  limpiar bloquear" placeholder="RFC">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbEstadoBloqueado">Estado<span class="required">*</span></label>
                                    <select id="cmbEstadoBloqueado" style="width: 100%" class="form-control limpiarSelect bloquear">
                                        <option value="0">--Seleccione--</option>
                                        @{
                                            if (Estados.idEstado != null)
                                            {
                                                for (int i = 0; i < Estados.idEstado.Count(); i++)
                                                {
                                                    <option value="@Estados.idEstado[i]">@Estados.nombre[i]</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbMunicipioBloqueado">Municipio<span class="required">*</span></label>
                                    <select id="cmbMunicipioBloqueado" style="width: 100%" class="form-control limpiarSelect bloquear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbLocalidadBloqueado">Localidad<span class="required">*</span></label>
                                    <select id="cmbLocalidadBloqueado" style="width: 100%" class="form-control limpiarSelect bloquear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCorreoBloqueado">Correo electrónico<span class="required">*</span></label>
                                    <input type="email" class="form-control limpiar bloquear" id="TxtCorreoBloqueado" name="data[TxtCorreoBloqueado]" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbNSSBloqueado">Número de Seguro Social<span class="required">*</span></label>
                                    <input type="text" name="data[cmbNSSBloqueado]" id="cmbNSSBloqueado" class="form-control  limpiar bloquear" placeholder="NSS">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTelBloqueado">Teléfono:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtTelBloqueado]" id="TxtTelBloqueado" class="form-control  limpiar bloquear" placeholder="Teléfono">
                                </div>
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbABloqueado">Área<span class="required">*</span></label>
                                    <select id="cmbABloqueado" style="width: 100%" class="form-control limpiarSelect bloquear"></select>
                                </div>
                            </div>-->
                        @*<div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbSubAreaBloqueado">SubArea<span class="required">*</span></label>
                                    <select id="cmbSubAreaBloqueado" style="width: 100%" class="form-control limpiarSelect bloquear"></select>
                                </div>
                            </div>*@
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbArBloqueado">Area<span class="required">*</span></label>
                                    <input type="text" name="data[cmbArBloqueado]" id="cmbArBloqueado" class="form-control  limpiar bloquear" placeholder="Perfil">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbSubAreaBloqueado">SubArea<span class="required">*</span></label>
                                    <select id="cmbSubAreaBloqueado" style="width: 100%" class="form-control limpiarSelect bloquear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtPerfilBloqueado">Perfil:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtPerfilBloqueado]" id="TxtPerfilBloqueado" class="form-control  limpiar bloquear" placeholder="Perfil">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtUsuarioBloqueado">Usuario:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtUsuarioBloqueado]" id="TxtUsuarioBloqueado" class="form-control  limpiar bloquear" placeholder="Usuario">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<script src="~/Scrips/jquery-ui.min.js"></script>
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Usuarios.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>