
@{
    ViewBag.Title = "Usuario";
}

<h2>Usuario</h2>
<!-- Color del texto del modal -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Botón del modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div id="accordion"></div>
    <!-- Encabezado del Modal -->
    <div class="container">
        <div class="modal fade" id="dialogo1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">x</button>
                    </div>
                    <!-- Contenido del modal -->
                    <div class="modal-body">
                        <h1>Registro de usuarios</h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <form id="regiration_form" novalidate action="action.php" method="post">
                            <fieldset>
                                <h2>PASO 1</h2>
                                <div class="form-group">
                                    <label for="fName">INGRESE LA CURP</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="CURP">
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRESE EL NOMBRE</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="NOMBRE">
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRESE EL APELLIDO PATERNO</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="APALLIDO PATERNO">
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRSE EL APELLIDO MATERNO</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="APALLIDO MATERNO">
                                </div>

                                <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                            </fieldset>
                            <fieldset>
                                <h2> PASO 2</h2>
                                <div class="form-group">
                                    <label for="fName">INGRESE LA FECHA DE NACIMIENTO</label>
                                    <input type="date" class="form-control" name="data[fName]" id="fName" placeholder="FECHA DE NACIMIENTO">
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRES EL RFC</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="RFC">
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRESE EL NÚMERO DE SEGURO SOCIAL</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="NoSS">
                                </div>
                                <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                                <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                            </fieldset>
                            <fieldset>
                                <h2>PASO 3</h2>
                                <div class="form-group">
                                    <label for="email">INGRESE EL EMAIL</label>
                                    <input type="email" class="form-control" id="email" name="data[email]" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <label for="mob">INGRESE EL NÚMERO DE TELÉFONO</label>
                                    <input type="number" class="form-control" id="mob" name="data[mob]" placeholder="Numero Celular">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">SELECCIONE SU ÁREA</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>SELECCIONA SU ÁREA</option>
                                        <option>OAXACA</option>
                                        <option>CHIAPAS</option>
                                        <option>COLIMA</option>
                                        <option>GUERRERO</option>
                                    </select>
                                </div>
                                <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                                <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                            </fieldset>
                            <fieldset>
                                <h2>PASO 4</h2>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">SELECCIONE SU ASIGNACÓN</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>SELECCIONA EL ESTADO</option>
                                        <option>OAXACA</option>
                                        <option>CHIAPAS</option>
                                        <option>COLIMA</option>
                                        <option>GUERRERO</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">SELECCIONE SU SITIO</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>SELECCIONA SU SITIO</option>
                                        <option>OAXACA</option>
                                        <option>CHIAPAS</option>
                                        <option>COLIMA</option>
                                        <option>GUERRERO</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fName">INGRESE EL NOMBRE DE USUARIO</label>
                                    <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="USUARIO">
                                </div>
                                <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                                <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                            </fieldset>
                            <fieldset>
                                <h2>PASO 5</h2>

                                <div class="form-group">
                                    <label for="fName">INGRESE LA CONTRASEÑA</label>
                                    <input type="password" class="form-control" name="data[fName]" id="fName" placeholder="CONTRASEÑA">
                                </div>

                                <div class="form-group">
                                    <label for="fName">FECHA EGRESO</label>
                                    <input type="date" class="form-control" name="data[fName]" id="fName" placeholder="FECHA EGRESO">
                                </div>
                                <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                                <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" id="submit_data" />
                            </fieldset>
                        </form>
                    </div>
                    <!-- pie del modal-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hacer que el modal muestre los pasos por parte-->
    <style type="text/css">
        #regiration_form fieldset:not(:first-of-type) {
            display: none;
        }
    </style>
    <!--Script-->
    <script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
    <!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
    <script src="~/Scrips/Internos/JS_Proveedores.js"></script> <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
    <script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
