
@{
    ViewBag.Title = "Configuración";
}
<h2>Configuración</h2>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionConfiguracion">
    <!--Div de las páginas-->
    <div class="card m-b-0">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a data-toggle="collapse" data-target="#collapsePaginas" aria-expanded="true" aria-controls="collapseOne">
                    <em class="m-r-5 fas fa-file-code" aria-hidden="true"></em>
                    <span>Páginas</span>
                </a>
            </h5>
        </div>
        <div id="collapsePaginas" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionConfiguracion">
            <div class="card-body">
                <!--Boton modal páginas-->
                <button onclick="abrirModalPagina(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalPagina">Agregar</button>
            </div>
            <div id="accordion" class="card-body">
                <!--Inserta tabla de las Páginas-->
                Actualmente no hay ningún registro.
            </div>
        </div>
    </div>
    <div class="card m-b-0 border-top">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="m-r-5 fas fa-user-secret" aria-hidden="true"></i>
                    <span>Perfiles</span>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionConfiguracion">
            <div class="card-body">
                <!--Boton modal páginas-->
                <button onclick="AModalPerfil(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalPerfiles">Agregar</button>
            </div>
            <div id="Paginas_Perfiles" class="card-body">
                <!--Inserta tabla de las Páginas-->
                Actualmente no hay ningún registro.
            </div>
        </div>
    </div>
    <div class="card m-b-0 border-top">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="m-r-5 fas fa-cogs" aria-hidden="true"></i>
                    <span>Configuración</span>
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionConfiguracion">
            <div class="card-body">
                <!--Boton modal páginas-->
                <button onclick="AModalConfiguracion(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSystem_Empresa">Agregar</button>
            </div>
            <div id="Paginas_Configuracion" class="card-body">
                <!--Inserta tabla de las Páginas-->
                Actualmente no hay ningún registro.
            </div>

        </div>
    </div>
</div>
<!--**************************************************************************************************************************-->
<!--Pagínas-->
<div id="ModalPagina" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <!-- Contenido del modal -->
            <div class="modal-body">
                <h1>REGISTRO E PÁGINAS</h1>
                <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                    <!-----formulario-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtAccion">Acción<span class="required">*</span></label>
                                <input type="text" id="TxtAccion" class="form-control limpiar obligatorio" placeholder="Acción">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtControlador">Controlador<span class="required">*</span></label>
                                <input id="TxtControlador" class="form-control  limpiar obligatorio" placeholder="Controlador" maxlength="100" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtMensaje">Mensaje<span class="required">*</span></label>
                                <input type="text" id="TxtMensaje" class="form-control  limpiar obligatorio" maxlength="100" placeholder="Mensaje">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtIconos">Icono<span class="required">*</span></label>
                                <input type="text" id="TxtIconos" class="form-control limpiar obligatorio" placeholder="Icono">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtDescripcion">Descripción<span class="required">*</span></label>
                                <input type="text" id="TxtDescripcion" class="form-control limpiar obligatorio" placeholder="Descripción">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" onclick="GuardarPagina()">Guardar</button>
                </form>
            </div>
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--**************************************************************************************************************************-->


        <div id="ModalPerfiles" class="modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">x</button>
                    </div>
                    <!-- Contenido del modal -->
                    <div class="modal-body">
                        <h1>Registro de perfiles</h1>
                        <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                            <!-----formulario-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtPerfil">Perfil<span class="required">*</span></label>
                                        <input type="text" id="TxtPerfil" class="form-control limpiar obligatorio" placeholder="Perfil">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNivel">Nivel<span class="required">*</span></label>
                                        <input id="TxtNivel" class="form-control  limpiar obligatorio" placeholder="Nivel" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtComentarios">Permisos<span class="required">*</span></label>
                                        <div id="divPagina"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtComentarios">Comentarios<span class="required">*</span></label>
                                        <textarea id="TxtComentarios" required="required" class="form-control limpiar" name="TxtComentarios" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="Ingrese una descripción.." data-parsley-validation-threshold="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button id="btnGuardar" type="button" class="btn btn-success" onclick="GuardarPerfil()">Guardar</button>
                            @*<button type="button" class="btn btn-success" onclick="GuardarPerfil()">Guardar</button>*@
                        </form>
                    </div>
                    <!-- pie del diálogo -->
                    <div class="modal-footer">
                        <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->

<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->

<script src="~/Scrips/jquery-ui.min.js"></script>

<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Configuraciones.js"></script>
<script src="~/Scrips/Internos/JS_Paginas.js"></script>

<script src="~/Scrips/Internos/JS_Perfiles.js"></script>

<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

@*<script>
        ////Función para regresar el formulario del modal al inicio al presionar el botón cancelar////
        (function () {
            var template = null
            $('.modal').on('show.bs.modal', function (event) {
                if (template == null) {//Valores nulos
                    template = $(this).html()

                } else {
                    $(this).html(template)
                    //Recetear el formulario iniciando del paso 1
                    $(document).ready(function () {
                        var current = 1, current_step, next_step, steps;
                        steps = $("fieldset").length;
                        $(".next").click(function () {
                            current_step = $(this).parent();
                            next_step = $(this).parent().next();
                            next_step.show();
                            current_step.hide();
                            setProgressBar(++current);
                        });
                        $(".previous").click(function () {
                            current_step = $(this).parent();
                            next_step = $(this).parent().prev();
                            next_step.show();
                            current_step.hide();
                            setProgressBar(--current);
                        });
                        setProgressBar(current);
                        // Cambiar la acción de la barra de progreso
                        function setProgressBar(curStep) {
                            var percent = parseFloat(100 / steps) * curStep;
                            percent = percent.toFixed();
                            $(".progress-bar")
                                .css("width", percent + "%")
                                .html(percent + "%");
                        }
                        //Termina Recetear el formulario
                    });
                }

            })
        })()
        //Deshabilitar el clic externo para el modal del formulario.
        jQuery(document).ready(function () {
            jQuery('[data-toggle="modal"]').each(function () {
                jQuery(this).attr('data-backdrop', 'static');
                jQuery(this).attr('data-keyboard', 'false');
            });
        });

        jQuery(document).ready(function () {
            jQuery('[data-toggle="modal"]').each(function () {
                jQuery(this).attr('data-backdrop', 'static');
                jQuery(this).attr('data-keyboard', 'false');
            });
        });

    </script>*@