
@{
    ViewBag.Title = "Configuración";
}
<h2 class="form-control-label" style="font-size: 20px;">
    CONFIGURACIÓN
</h2>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
@*<link rel="stylesheet" href="estilos.css">*@
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionConfiguracion">
    <!--Div de las páginas-->
    <div class="card m-b-0">

        <h5 class="mb-0">
            <a data-toggle="collapse" data-target="#collapsePaginas" aria-expanded="true" aria-controls="collapseOne">
                <em class="m-r-5 fas fa-file-code" aria-hidden="true"></em>
                <span>Páginas</span>
            </a>
        </h5>
        <div id="collapsePaginas" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionConfiguracion">
            <div class="card-body">
                <!--Botón modal páginas-->
                <button onclick="AModalPaginas(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSystem_Pagina">Agregar</button>
            </div>
            <div id="Paginas" class="card-body">
                <!--Inserta tabla de las Páginas-->
                No hay ninguna pagina dada de alta en el sistema.
            </div>
        </div>
    </div>
    <div class="card m-b-0 border-top">

        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fas fa-users list__img" aria-hidden="true"></i>
                <span>Perfiles</span>
            </a>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionConfiguracion">
        <div class="card-body">
            <!--Boton modal páginas-->
            <button onclick="AModalPerfil(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSystem_Perfil">Agregar</button>
        </div>
        <div id="Paginas_Perfiles" class="card-body">
            <!--Inserta tabla de las Páginas-->
            No hay ningun perfil registrado en la plataforma.
        </div>
    </div>

    <div class="card m-b-0 border-top">

        <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="m-r-5 fas fa-cogs" aria-hidden="true"></i>
                <span>Configuración</span>
            </a>
        </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionConfiguracion">
        <div class="card-body">
            <!--Boton modal páginas-->
            <button onclick="AModalConfiguracion(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSystem_Empresa">Agregar</button>
        </div>
        <div id="Paginas_Configuracion" class="card-body">
            <!--Inserta tabla de las Páginas-->
            Configuración general del sistema.
        </div>

    </div>

</div>
<!------------------------------------------------------------------>
<!--Páginas-->
<div id="ModalSystem_Pagina" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    <label class="form-control-label" style="font-size: 18px;">
                        REGISTRO DE PÁGINAS
                    </label>
                </h2>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>
            </div>
            <div class="modal-body">
                <div class="panel-heading ">

                    @*<div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtIDPagina">ID Página<span class="required">*</span></label>
                                    <input type="text" id="TxtIDPagina" class="form-control  limpiar bloquear" maxlength="100" placeholder="Id">
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtMensaje">Mensaje<span class="required">*</span></label>
                                <input id="TxtMensaje" class="form-control  limpiar PaginaObligatorio" placeholder="Mensaje" maxlength="100" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtAccion">Acción<span class="required">*</span></label>
                                <input type="text" id="TxtAccion" class="form-control  limpiar PaginaObligatorio" maxlength="100" placeholder="Acción">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtControlador">Controlador<span class="required">*</span></label>
                                <input id="TxtControlador" class="form-control  limpiar PaginaObligatorio" placeholder="Controlador" maxlength="100" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtIcono">Icono<span class="required">*</span></label>
                                <input type="text" id="TxtIcono" class="form-control  limpiar PaginaObligatorio" maxlength="100" placeholder="Icono">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtDescripcion">Descripción<span class="required">*</span></label>
                                <textarea type="text" id="TxtDescripcion" class="form-control limpiar PaginaObligatorio" rows="2" wrap="soft" placeholder="Agrega una descripción de la página..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnGuardar" type="button" class="btn btn-primary" onclick="GuardarPagina()">Guardar</button>
                        <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------>
<!--Perfiles-->
<div id="ModalSystem_Perfil" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    <label class="form-control-label" style="font-size: 18px;">
                        REGISTRO DE PERFILES
                    </label>
                </h2>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>
            </div>
            <div class="modal-body">
                <div class="panel-heading ">


                    @*<div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtIDPerfil">ID<span class="required">*</span></label>
                                    <input type="text" id="TxtIDPerfil" class="form-control  limpiar bloquear" maxlength="100" placeholder="Id">
                                </div>
                            </div>
                        </div>*@


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtNivel">Nivel<span class="required">*</span></label>
                                <input id="TxtNivel" class="form-control  limpiar PerfilObligatorio" placeholder="Nivel" maxlength="100" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtPerfil">Perfil<span class="required">*</span></label>
                                <input type="text" id="TxtPerfil" class="form-control  limpiar PerfilObligatorio" maxlength="100" placeholder="Nombre del perfil">
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TblPaginas">Permisos<span class="required">*</span></label>
                                <div id="TblPaginas">Se inserta una tabla con las páginas ya agregadas a la BD</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtComentarios">Descripción<span class="required">*</span></label>
                                <textarea type="text" id="TxtComentarios" class="form-control limpiar PerfilObligatorio" rows="3" wrap="soft" placeholder="Agrega una descripción del perfil..."></textarea>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="modal-footer">
                        <button id="btnGuardar" type="button" class="btn btn-primary" onclick="GuardarPerfil()">Guardar</button>
                        <button id="btnCancelarPerfil" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scrips/jquery.min.js"></script>
<script src="~/Scrips/jquery-ui.min.js"></script>
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Configuraciones.js"></script>
<script src="~/Scrips/Internos/JS_Paginas.js"></script>
<script src="~/Scrips/Internos/JS_Perfiles.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/Scrips/General/JS_Buscar.js"></script>
@*<script>
        ////Función para regresar el formulario del modal al inicio al presionar el botón cancelar////
        (function () {
            var template = null
            $('.modal').on('show.bs.modal', function (event) {
                if (template == null) {//Valores nulos
                    template = $(this).html()

                } else {
                    $(this).html(template)
                    //Recetear el formulario iniciando del paso 1
                    $(document).ready(function () {
                        var current = 1, current_step, next_step, steps;
                        steps = $("fieldset").length;
                        $(".next").click(function () {
                            current_step = $(this).parent();
                            next_step = $(this).parent().next();
                            next_step.show();
                            current_step.hide();
                            setProgressBar(++current);
                        });
                        $(".previous").click(function () {
                            current_step = $(this).parent();
                            next_step = $(this).parent().prev();
                            next_step.show();
                            current_step.hide();
                            setProgressBar(--current);
                        });
                        setProgressBar(current);
                        // Cambiar la acción de la barra de progreso
                        function setProgressBar(curStep) {
                            var percent = parseFloat(100 / steps) * curStep;
                            percent = percent.toFixed();
                            $(".progress-bar")
                                .css("width", percent + "%")
                                .html(percent + "%");
                        }
                        //Termina Recetear el formulario
                    });
                }

            })
        })()
        //Deshabilitar el clic externo para el modal del formulario.
        jQuery(document).ready(function () {
            jQuery('[data-toggle="modal"]').each(function () {
                jQuery(this).attr('data-backdrop', 'static');
                jQuery(this).attr('data-keyboard', 'false');
            });
        });

        jQuery(document).ready(function () {
            jQuery('[data-toggle="modal"]').each(function () {
                jQuery(this).attr('data-backdrop', 'static');
                jQuery(this).attr('data-keyboard', 'false');
            });
        });

    </script>*@