
@{
    ViewBag.Title = "Tienda";
}

<h2>Tienda</h2>
<!-- Color del texto del modal -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Botón del modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>

<!--Mostrar los datos del acordión que se van agregando en la Base de Datos-->
<div id="accordion"></div>

<!-- Modal -->

<div class="modal fade" id="dialogo1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Encabezado del Modal -->
            <div class="modal-header">
                <h4 class="modal-title">Título del diálogo</h4>
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>

            <!-- Contenido del modal -->
            <div class="modal-body">
                <h1>TIENDA</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <form id="regiration_form" novalidate action="action.php" method="post">
                    <fieldset>
                        <h2>PASO 1</h2>
                        <div class="form-group">
                            <label for="fName">INGRESE EL NOMBRE</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="NOMBRE">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">SELECIONE EL ESTADO</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>SELESCCIONE EL ESTADO</option>
                                <option>OAXACA</option>
                                <option>CHIAPAS</option>
                                <option>COLIMA</option>
                                <option>GUERRERO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">SELECCIONE EL MUNICIPIO</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>SELESCCIONE EL MUNICIPIO</option>
                                <option>OAXACA</option>
                                <option>CHIAPAS</option>
                                <option>COLIMA</option>
                                <option>GUERRERO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">SELECCIONE LA LOCALIDAD</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>SELECCIONE LA LOCALIDAD</option>
                                <option>OAXACA</option>
                                <option>CHIAPAS</option>
                                <option>COLIMA</option>
                                <option>GUERRERO</option>
                            </select>
                        </div>
                        <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> PASO 2</h2>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">SELECCIONE LA SUPERVISIÓN</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>SELECCIONE LA UPERVISIÓN</option>
                                <option>OAXACA</option>
                                <option>CHIAPAS</option>
                                <option>COLIMA</option>
                                <option>GUERRERO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESE EL CP</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="CP">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESE LA CALLE</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="CALLE">
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> PASO 3</h2>
                        <div class="form-group">
                            <label for="fName">INGRESE EL NÚMERO DE TELÉFONO</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="TELÉFONO">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESE LA LATITUD</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="LATITUD">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESE LA LONGITUD</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="LONGITUD">
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> PASO 4</h2>
                        <div class="form-group">
                            <label for="fName">INGRESE EL NOMBRE DEL LIDER</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="LIDER DE TIENDA">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR LA HORA DE APERTURA</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="HORA DE APERTURA">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR LA HORA DE SIERRE</label>
                            <input type="number" class="form-control" name="data[fName]" id="fName" placeholder="HORA DE SIERRE">
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>

                        <h2>PASO 5</h2>

                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL ENCARGADO 1</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="ENCARGADO 1">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL ENCARGADO 2</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="ENCARGADO 2">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL ENCARGADO 3</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="ENCARGADO 3">
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h2> PASO 6</h2>
                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL AUXILIAR 1</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="AUXILIAR 1">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL AUXILIAR 2</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="AUXILIAR 2">
                        </div>
                        <div class="form-group">
                            <label for="fName">INGRESAR EL NOMBRE DEL AUXILIAR 3</label>
                            <input type="text" class="form-control" name="data[fName]" id="fName" placeholder="AUXILIAR 3">
                        </div>

                        <br>
                        <div id="listas">
                            <label for="fName">AGREGAR</label>

                        </div>


                        <input type="button" class="btn btn-primary" id="add_field" value="adicionar">

                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" id="submit_data" />
                    </fieldset>
                </form>
            </div>
            <!-- pie del modal-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_Proveedores.js"></script> <!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->