
@{
    ViewBag.Title = "Tienda";
}

<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="tabla" class="default "></div>
<div id="accordion"></div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>REGISTRO DE TIENDA</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h5>Paso 1</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombre">Nombre de la tienda<span class="required">*</span></label>
                                        <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre de la tienda" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNombreSuper">Nombre de el supervisor<span class="required">*</span></label>
                                        <input id="TxtNombreSuper" name="data[TxtNombreSuper]" class="form-control  limpiar obligatorio" placeholder="Nombre de la tienda" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbEstado">Estado<span class="required">*</span></label>
                                        <select id="cmbEstado" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMunicipio">Municipio<span class="required">*</span></label>
                                        <select id="cmbMunicipio" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbLocalidad">Localidad<span class="required">*</span></label>
                                        <select id="cmbLocalidad" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <!--Los pasos del modal-->
                            <h5>Paso 2</h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDireccion">Dirección<span class="required">*</span></label>
                                        <input type="text" id="TxtDireccion" name="data[TxtDireccion]" class="form-control limpiar obligatorio" placeholder="Dirección">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCalle">Calle<span class="required">*</span></label>
                                        <input type="text" id="TxtCalle" name="data[TxtCalle]" class="form-control limpiar obligatorio" placeholder="Dirección">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCodigoPostal">Codigo Postal<span class="required">*</span></label>
                                        <input id="TxtCodigoPostal" name="data[TxtCodigoPostal]" class="form-control  limpiar obligatorio" placeholder="Codigo Postal" size="30" maxlength="100" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtNumeroTelefono">Número de Telefono<span class="required">*</span></label>
                                        <input type="text" id="TxtNumeroTelefono" name="data[TxtNumeroTelefono]" class="form-control  limpiar obligatorio" placeholder="Número de Telefono">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtHoraApertura">Hora de apertura</label>
                                        <input type="time" id="TxtHoraApertura" name="data[TxtHoraApertura]" class="form-control limpiar " placeholder="Hora de apertura">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtHoraCierre">Hora de cierre</span></label>
                                        <input type="time" id="TxtHoraCierre" name="data[TxtHoraCierre]" class="form-control limpiar " placeholder="Hora de cierre">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h5> Paso 3</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbSupervision">Supervisión<span class="required">*</span></label>
                                        <select id="cmbSupervision" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtLider">Nombre del Lider<span class="required">*</span></label>
                                        <input type="text" id="TxtLider" name="data[TxtLider]" class="form-control limpiar obligatorio" placeholder="Nombre del Lider">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtEncargado1">Nombre del encargado 1</label>
                                        <input type="text" id="TxtEncargado1" name="data[TxtEncargado1]" class="form-control limpiar " placeholder="Nombre del encargado 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtEncargado2">Nombre del encargado 2</label>
                                        <input type="text" id="TxtEncargado2" name="data[TxtEncargado2]" class="form-control limpiar " placeholder="Nombre del encargado 2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtEncargado3">Nombre del encargado 3</label>
                                        <input type="text" id="TxtEncargado3" name="data[TxtEncargado3]" class="form-control limpiar " placeholder="Nombre del encargado 3">
                                    </div>
                                </div>
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h5> Paso 4</h5>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtAux1">Nombre del Auxiliar 1</label>
                                        <input type="text" id="TxtAux1" name="data[TxtAux1]" class="form-control limpiar " placeholder="Nombre del encargado 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtAux2">Nombre del Auxiliar 2</label>
                                        <input type="text" id="TxtAux2" name="data[TxtAux2]" class="form-control limpiar " placeholder="Nombre del encargado 2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtAux3">Nombre del Auxiliar 3</label>
                                        <input type="text" id="TxtAux3" name="data[TxtAux3]" class="form-control limpiar " placeholder="Nombre del encargado 3">
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <button id="btnGuardar" type="button" class="btn btn-success " onclick="GuardarTienda()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Tienda.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
