
@{
    ViewBag.Title = "Mermas";
}
<center>
    <h2 class="form-control-label" style="font-size: 20px;">
        MERMAS EN EL STOCK
    </h2>
</center>
<!--Titulo-->
<link href="~/Content/Tabla.css" rel="stylesheet" />
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Inicia tarjeta-->
<!--Termina tarjeta-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="ModalPedidos">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registro de pedidos</h5>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <form id="regiration_form" novalidate method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTiendas">Enviar a:<span class="required">*</span></label>
                                    <input type="text" name="data[TxtTiendas]" id="TxtTiendas" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFecha">Fecha de pedido<span class="required">*</span></label>
                                    <input type="text" name="data[TxtFecha]" id="TxtFecha" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaAprobada">Fecha de aprobación<span class="required">*</span></label>
                                    <input type="text" name="data[TxtFechaAprobada]" id="TxtFechaAprobada" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNumPedido">Número de pedido<span class="required">*</span></label>
                                    <input type="number" name="data[TxtNumPedido]" id="TxtNumPedido" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNoProveedor">Número por proveedor<span class="required">*</span></label>
                                    <input type="text" name="data[TxtNoProveedor]" id="TxtNoProveedor" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtAsignacion">ID_Asignación<span class="required">*</span></label>
                                    <input type="number" name="data[TxtAsignacion]" id="TxtAsignacion" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtIDTienda">ID_Sitio<span class="required">*</span></label>
                                    <input type="number" name="data[TxtIDTienda]" id="TxtIDTienda" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtProveedor">Proveedor<span class="required">*</span></label>
                                    <input type="text" name="" id="TxtProveedor" class="form-control  limpiar obligatorio bloquear">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TblArticulos">Artículo(s)<span class="required">*</span></label>
                                    <div id="TblArticulos">Artículo(s) del proveedor</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" id="GuardarPedido" class="btn btn-success" onclick=" validacion()">Guardar</button>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid {
        border-top: 4px solid #D7DBDD;
    }

    .D1 {
        background-color: #EBEBEB;
    }
</style>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 1px solid #f1f507;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid4 {
        border-top: 1px solid #0B94F8;
    }
</style>
<!------------------------Estilos para los inputs de cantidad solicitada de los pedidos en el modal  de pedidos----------------------->
<style>
    .redondeado {
        border-radius: 5px;
        border: 1px solid #696969;
        width: 135px;
    }

    input:focus {
        background-color: lavender;
        text-align: center
    }
</style>

<!-------------Estilo que elimina los bordes de los inputs de unidad de medida y precio unitario en el modal de pedidos------------------------->
<style>
    .sinborde {
        border: 0;
    }
</style>

<!----------------------------------------------------------------------------------------------------->
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<script src="~/Scrips/Internos/JS_PedidosPendientes.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />
<!----------------Exportar-------------------------->
