
@{
    ViewBag.Title = "Subarea";
}
<!-- Color del texto del modal -->
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Inicia tarjeta-->
<!-- Estilos -->
@*<link rel="stylesheet" href="estilos.css">*@
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal -->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar el accordion-->
<div id="accordion"></div>
<!-- Encabezado del Modal SubArea -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>SUBÁREAS</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <h4>Paso 1: Información de la subÁrea</h4>
                            <div class="form-group">
                                <label for="TxtNombre">Nombre de la  Subárea</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtNombre]" id="TxtNombre" placeholder="Nombre de la SubÁrea">
                            </div>
                            <div class="form-group">
                                <label for="TxtNumero">Número del Subárea</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtNumero]" id="TxtNumero" placeholder="Número de la SubÁrea">
                            </div>
                            <div class="form-group">
                                <label for="TxtNombre1">Nombre del Enacaragado 1</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtNombre1]" id="TxtNombre1" placeholder="Nombre del usuario">
                            </div>
                            <div class="form-group">
                                <label for="TxtTelefono1">Teléfono Encargado1</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtTelefono1]" id="TxtTelefono1" placeholder="Número telefónico">
                            </div>
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h4> Paso 2: Información del usuario</h4>
                            <div class="form-group">
                                <label for="TxtCorreo1">E-mail Encargado1</label>
                                <input type="email" class="form-control limpiar SubArea" name="data[TxtCorreo1]" id="TxtCorreo1" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                                <label for="TxtNombre2">Nombre del encargado 2</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtNombre2]" id="TxtNombre2" placeholder="Nombre del Encargado2">
                            </div>
                            <div class="form-group">
                                <label for="TxtTelefono2">Teléfono del encargado 2</label>
                                <input type="text" class="form-control limpiar SubArea" id="TxtTelefono2" name="data[TxtTelefono2]" placeholder="Teléfono del Encargado2">
                            </div>
                            <div class="form-group">
                                <label for="TxtCorreo2">E-mail del encargado 2</label>
                                <input type="email" class="form-control limpiar SubArea" name="data[TxtCorreo2]" id="TxtCorreo2" placeholder="Correo Electrónico">
                            </div>

                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h4>Paso 3: Información del encargado</h4>
                            <div class="form-group">
                                <label for="TxtNombre3">Nombre del encargado 3</label>
                                <input type="text" class="form-control limpiar SubArea" name="data[TxtNombre3]" id="TxtNombre3" placeholder="Nombre del Encargado3">
                            </div>
                            <div class="form-group">
                                <label for="TxtTelefono3">Teléfono del encargado 3</label>
                                <input type="text" class="form-control limpiar SubArea" id="TxtTelefono3" name="data[TxtTelefono3]" placeholder="Teléfono del Encargado3">
                            </div>
                            <div class="form-group">
                                <label for="TxtCorreo3">E-mail del encargado 3</label>
                                <input type="email" class="form-control limpiar SubArea" name="data[TxtCorreo3]" id="TxtCorreo3" placeholder="Correo Electrónico">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                            <button id="btnGuardar" type="button"  class="btn btn-success " onclick="GuardarSubarea()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_SubAreas.js"></script><!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->