
@{
    ViewBag.Title = "Subarea";
}
<!-- Color del texto del modal -->
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Inicia tarjeta-->
<!-- Estilos -->
@*<link rel="stylesheet" href="estilos.css">*@

<div class="contenedor hero">
    <div class="contenedor-cards">
        <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
                <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                <div class="contenedor-info">
                    <div class="info">
                        <p class="titulo">Titulo</p>
                        <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
                </div>
            </div>
        </div>
        <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
                <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                <div class="contenedor-info">
                    <div class="info">
                        <p class="titulo">Titulo</p>
                        <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
                </div>
            </div>
        </div>
        <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
                <img src="~/Assets/Imagenes/imagen3.png" alt="">
                <div class="contenedor-info">
                    <div class="info">
                        <p class="titulo">Titulo</p>
                        <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Termina tarjeta-->
<!-- Botón del modal -->
<button type="button" onclick="abrirModalSub(0)" class="btn btn-primary" data-toggle="modal" data-target="#dialogo">REGISTRAR</button>
<!--Mostrar el accordion-->
<div id="accordion"></div>
<!-- Encabezado del Modal SubArea -->

<div class="modal fade" id="dialogo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <!-- Contenido del modal -->
            <div class="modal-body">

                <h4>SUBÁREAS</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <form id="regiration_form" novalidate method="post">
                    <fieldset>
                        <h4>Paso 1: Información de la subÁrea</h4>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="cmbArea">Estado<span>*</span></label>
                                <select id="cmbArea" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombre">Nombre de la  Subárea<span class="required">*</span></label>
                                    <input id="TxtNombre" name="data[TxtNombre]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNumero">Número del Subárea<span class="required">*</span></label>
                                    <input id="TxtNumero" name="data[TxtNumero]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombre1">Nombre del encargado 1<span class="required">*</span></label>
                                    <input id="TxtNombre1" name="data[TxtNombre1]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTelefono1">Teléfono del encargado 1<span class="required">*</span></label>
                                    <input type="text" name="data[TxtTelefono1]" id="TxtTelefono1" class="form-control  limpiar obligatorio" placeholder="name@example.com">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCorreo1">Correo  del encargado 1<span class="required">*</span></label>
                                    <input type="text" name="data[TxtCorreo1]" id="TxtCorreo1" class="form-control  limpiar obligatorio" placeholder="Razón Social">
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next btn btn-info" value="Siguiente" />
                    </fieldset>
                    <fieldset>
                        <h4> Paso 2: Información del usuario</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombre2">Nombre del encargado 2<span class="required">*</span></label>
                                    <input id="TxtNombre2" name="data[TxtNombre2]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTelefono2">Teléfono del encargado 2<span class="required">*</span></label>
                                    <input type="text" name="data[TxtTelefono2]" id="TxtTelefono2" class="form-control  limpiar obligatorio" placeholder="name@example.com">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCorreo2">Correo  del encargado 2<span class="required">*</span></label>
                                    <input type="text" name="data[TxtCorreo2]" id="TxtCorreo2" class="form-control  limpiar obligatorio" placeholder="Razón Social">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNombre3">Nombre del encargado 3<span class="required">*</span></label>
                                    <input id="TxtNombre3" name="data[TxtNombre3]" class="form-control  limpiar obligatorio" placeholder="Nombre" size="30" maxlength="100" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtTelefono3">Teléfono del encargado 3<span class="required">*</span></label>
                                    <input type="text" name="data[TxtTelefono3]" id="TxtTelefono3" class="form-control  limpiar obligatorio" placeholder="name@example.com">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCorreo3">Correo  del encargado 3<span class="required">*</span></label>
                                    <input type="text" name="data[TxtCorreo3]" id="TxtCorreo3" class="form-control  limpiar obligatorio" placeholder="Razón Social">
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous btn btn-default" value="Previo" />
                        <button id="btnGuardar" type="button" class="btn btn-success " onclick="GuardarSubarea()">Guardar</button>
                    </fieldset>
                </form>
            </div>
            <!-- pie del modal-->
            <div class="modal-footer">
                <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<script src="~/Scrips/Internos/JS_SubAreas.js"></script><!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
<script src="~/Scrips/Plus/scripts.js"></script>
